/*CSS para la portada, la página de contacto y la de los trabajos*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: whitesmoke;
    font-family: Arial;
}

.portada{
    width: 800px;
    height: 500px;
    margin-left: 10px;
}

/*CSS de la barra de navegación que formará nuestro menú*/
.barraNavegacion{
    background-color: black;
    margin: 0;
}

.barraNavegacion ul{
    list-style: none;
}

.barraNavegacion ul li{
    display: inline-block;
    font-size: 20px;
}

.barraNavegacion ul li a{
    background-color: black;
    color: white;
    display: block;
    padding: 20px 60px;
    text-decoration: none;
}

.barraNavegacion ul li a:hover{
    background-color: lightgrey;
}

.barraNavegacion ul li ul{
    display: none;
    position: absolute;
    float: left;
}

.barraNavegacion ul li:hover > ul{
    display: block;
}

.contacto{
    float: right;
}

.titulo{
    margin-left: 10px;
    font-style: italic;
    font-size: 100px;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 26px;
    text-align: justify;
}

footer{
    background-color: lightsteelblue;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}

.enlace{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-size: 25px;
    font-family: helvetica;
    font-style: italic;
    border: 3px double lightgrey;
    border-radius: 15px;
}

.enlace:hover{
    opacity: 0.5;
    text-decoration: none;
}

/*CSS para nuestro formulario*/

.formularioContacto{
    overflow: hidden;
    background-color: lightsteelblue;
    font-size: 25px;
    height: 550px;
}

label{
    padding-left: 10px;
    float: left;
}

input{
    border-color: cornflowerblue;
    border: 2px double lightgray;
    border-radius: 3px;
    float: left;
    width: 200px;
    height: 25px;
    margin-left: 10px;
}

input[type=email]{
    width: 400px;
}

input[type=radio]{
    width: 25px;
    margin-left: 10px;
}

input[type=submit]{
    height: auto;
}

textarea{
    border-color: cornflowerblue;
    border: 3px double lightgray;
    border-radius: 3px;
    width: 800px;
    height: 200px;
    margin-left: 10px;
}

/*CSS para nuestras páginas de trabajos*/

.imagenTrabajo{
    border-style: solid;
    width: 800px;
    height: 500px;
}

.caracteristicasImagen{
    margin-left: 10px;
    font-size: 25px;
}