.barraNavegacion{
    background-color: cornflowerblue;
    display: flex;
}

.barraNavegacion ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.barraNavegacion ul li{
    display: inline-block;
}

.barraNavegacion ul li a{
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.barraNavegacion ul li a:hover{
    background-color: darkseagreen;
}



